@page "/"
<PageTitle>Vineyard Church Augusta</PageTitle>
<div class="container">
    <div class="mt-4 p-5 text-white rounded" style="background-color:#6f1f78;">
        <div class="display-3">Welcome</div>
        <div class="display-3">Vineyard Church Augusta</div>
        <div class="display-3">Food Pantry</div>
    </div>
    <div class="row w-75 ms-3"><div class="col display-6 bg-info">Dashboard in fullscreen mode - click on dashboard page and press F11. Press F11 again to exit fullscreen.</div></div>
    <div class="row">
        <div class="col display-1"><a class="text-decoration-none" href="/dashboard">Dashboard</a></div>
    </div>
    <div class="row">
        <div class="col display-1"><a class="text-decoration-none" href="/admin">Admin</a></div>
    </div>
    <div class="row">
        <div class="col display-1"><a class="text-decoration-none" href="/counter">Counter</a></div>
    </div>
</div>
